body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
    font-family: Arial, sans-serif;
    
}

.container {
    text-align: center;

}

canvas {
    border: 2px solid gray;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(30, 210, 144);
    
}
#a{
    margin-bottom: 50px;
    font-family:cursive;
    color:bisque;
}
